.tft_iframe_wrapper {
    position: fixed;
    width: 70vw;
    height: 45vh;
    box-shadow: 0px 0px 5px 0px #4b4b4b;
    visibility: hidden;
    transition: transform .1s linear;
    background: #4b4b4b;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    transform: scale(0, 0);
    overflow: scroll;
    &.show {
        display: block;
        visibility: visible;
        transform: scale(1, 1);
    }
    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   width: 0px;
    //   height: 0px;
    //   border-left: 10px solid transparent;
    //   border-right: 10px solid transparent;
    //   border-bottom: 10px solid #4a4a4a;
    //   transform: translate(-50%, -100%);
    // }
    iframe {
      width: 100%;
      height: 100%;
      border-style: none;
    }
    .loader {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0);
        border-top-color: rgba(255, 255, 255, 0.4);
        transform: translate(-50%, -50%);
        z-index: -1;
        animation: spin 2s linear infinite;
    }
}

.noscroll {
    overflow: hidden;
}

@keyframes spin {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
}
    